@import "tailwindcss";

:root {
  --background: #f6f8f7;
  --foreground: #16352E;
}

.dark {
  --background: #0f172a;
  --foreground: #f8fafc;
}

body {
  background: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease,
              color 0.3s ease;
}